body,html {
    padding: 0px;
    margin: 0px;
}
.centralizar {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.conteudo {
    display:flex;
    flex-direction: row;
    background: silver;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    height: 50vh;
}
.card {
    width: 200px;
    height: 200px;
    background: yellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 5px;
}